/*******************************************************

                   GENERAL STYLES

********************************************************/
.body {
    overflow-x: hidden;
}

.vertical-align {

    position: relative;

    top: 50%;

    -webkit-transform: translateY(-50%);

    -moz-transform: translateY(-50%);

    transform: translateY(-50%);

}

/*******************************************************

                        FONTS

********************************************************/

@font-face {
    font-family: 'veraSerif';

    src: url(fonts/VeraSerif.ttf);
}

@font-face {

    font-family: 'grotesk';

    src: url(fonts/grotesk.otf);

}

/*******************************************************

                       NAVIGATION BAR

********************************************************/

#navigation {

    /*margin: 3% 0 -5.8% 0;*/

    position: absolute;

    top: 58px;

    left: 11%;

}

#navigation .navbar-nav a {

    font-family: 'grotesk', sans-serif;

    color: white;

    font-size: 14px;

    padding-left: 40px;

    padding-right: 20px;

}

.navbar-toggler {
    color: white;
}

/*******************************************************

                        WELCOME BANNER

********************************************************/

#welcome {
    background-image: url('../img/justDiagnosed/welcomeBanner/diagnosedBg.png');

    background-repeat: no-repeat;

    background-attachment: scroll;

    background-position: center center;

    -webkit-background-size: cover;

    -moz-background-size: cover;

    background-size: cover;

    -o-background-size: cover;

    overflow-x: hidden;

    min-height: 100vh;

    width: 100%;
}

#welcome .welcomeMessage {
    font-family: 'veraSerif', sans-serif;

    color: #ffffff;

    font-size: 43px;

    text-align: center;

    position: absolute;

    left: 7%;

    top: 45%;
}

/*******************************************************

                        WHAT TO DO

********************************************************/

#whatToDo .options {
    font-family: 'grotesk', sans-serif;

    color: black;

    font-size: 24px;

    line-height: 1;

}

#whatToDo .whatToDoSub {
    background-image: url('../img/justDiagnosed/whatToDo/whatToDoBg.png');

    background-repeat: no-repeat;

    background-attachment: scroll;

    background-position: center center;

    -webkit-background-size: cover;

    -moz-background-size: cover;

    background-size: cover;

    -o-background-size: cover;

    overflow-x: hidden;

}

#whatToDo .col-sm-12:nth-of-type(1) {
    background-color: #dbe6f0;

    padding: 8% 5% 5% 25%;

    cursor: pointer
}

#whatToDo .col-sm-12:nth-of-type(2) {
    background-color: #b2c8dd;

    padding: 8% 5% 5% 25%;

    cursor: pointer
}

#whatToDo .col-sm-12:nth-of-type(3) {
    background-color: #6391bc;

    padding: 8% 5% 5% 25%;

    cursor: pointer
}

#whatToDo .col-sm-12:nth-of-type(4) {
    background-color: #21629f;

    padding: 8% 5% 5% 25%;

    cursor: pointer
}

#whatToDo .whatToDoText {

    font-family: 'veraSerif', sans-serif;

    font-size: 50px;

    color: white;

    border: solid white 1px;

    position: absolute;

    left: 30%;

    top: 30%;
}

#whatToDo .whatToDoMessages {
    background-color: #bfbebe;
    opacity: .9;
    margin-top: 3%;
}

#whatToDo .whatToDoTitles {
    font-size: 18px;
    background-color: #336699;
    padding: 5%;
    margin-bottom: 0;
}

#whatToDo .instructionsText {
    background-color: #cccccc;
}

/*******************************************************

                        GET SUPPORT

********************************************************/
#getSupport {

    margin-bottom: 10%;

}

#getSupport h1 {

    font-family: 'veraSerif', sans-serif;

    text-align: center;

    color: #333333;

    margin-top: 7%;

    margin-bottom: 6%;

}

#getSupport .img-container {

    width: 100%;

    height: 150px;

    margin-left: 5%;

    background-size: cover !important;

}

#getSupport .supportTypes {
    font-family: 'grotesk', sans-serif;

    color: #333333;

    font-size: 17px;
}

#getSupport .supportText {
    font-family: "Myriad Pro", sans-serif;

    font-size: 13px;
}

#getSupport .btn {

    background: transparent;

    font-family: 'grotesk', sans-serif;

    color: #333333;

    font-size: 13px;

}

/*******************************************************

                        CASES VIDEOS

********************************************************/
#casesVideos {
    position: relative;

    background-image: url('../img/justDiagnosed/casesVideos/casesBackground.png');

    background-repeat: no-repeat;

    background-attachment: scroll;

    background-position: center center;

    -webkit-background-size: cover;

    -moz-background-size: cover;

    background-size: cover;

    -o-background-size: cover;

    overflow-x: hidden;

    min-height: 100vh;

    width: 100%;
}

#casesVideos .casesGeneral {
    font-family: 'grotesk', sans-serif;

    color: #333333;

    font-size: 25px;

    position: absolute;

    top: 38%;

    left: 17%;
}

/* the slides */
.slick-slide {

    margin: 0 10px;

    background-color: #cccccc;

    border-radius: 5px;

    border-left: solid #cccccc 10px;

    border-right: solid #cccccc 10px;
}

/* the parent */
.slick-list {

    margin-top: 37%;

}

#casesVideos .videoTitle {
    font-family: 'grotesk', sans-serif;

    font-size: 15px;
}

#casesVideos .videoDescription {
    font-family: 'grotesk', sans-serif;

    font-size: 8px;
}

#casesVideos .green {
    position: absolute;

    background-color: #99cc33;

    height: 478px;

    width: 800px;

    left: 35%;

    top: 21%;

}

/*******************************************************

                   CONTACT US

********************************************************/
#contactUs {

    background: url('../img/justDiagnosed/contactUsJustDiagnosed/contactUsJustDiagnosedBgCrop.png') no-repeat center center;

    background-size: cover;

}

#contactUs .topInfo {

    margin-left: 29%;

}

#contactUs .icon {

    height: 50px;

    width: 50px;

}

#contactUs .phone {

    font-family: "Myriad Pro", sans-serif;

    color: white;

}

#contactUs form {

    margin: 18% 0 16% 0;
}

#contactUs .form-group {
    margin-top: 10%;
}

#contactUs .btn {
    font-family: "Myriad Pro", sans-serif;

    font-weight: bold;

    background: transparent;

    color: black;

    font-size: 15px;

    border: solid black 2px;

    border-radius: 5px;

}

#contactUs .text-area {

    width: 100%;

    border-style: solid;

    border-color: black;

    border-width: 2px;

    background-color: transparent;

}

#contactUs .text-box {

    width: 100%;

    border-style: solid;

    border-color: black;

    border-width: 2px;

    background-color: transparent;

}

input::-webkit-input-placeholder {

    color: black !important;

}

input:-moz-placeholder { /* Firefox 18- */

    color: black !important;

}

input::-moz-placeholder { /* Firefox 19+ */

    color: black !important;

}

input:-ms-input-placeholder {

    color: black !important;

}

textarea::-webkit-input-placeholder {

    color: black !important;

}

textarea:-moz-placeholder { /* Firefox 18- */

    color: black !important;

}

textarea::-moz-placeholder { /* Firefox 19+ */

    color: black !important;

}

textarea:-ms-input-placeholder {

    color: black !important;

}

/*******************************************************

                 @MEDIA QUERRIES

********************************************************/


@media (max-width: 1200px) {
    #navigation .navbar-nav a {
        font-size: 15px;
    !important;
    }
}

@media (max-width: 1024px) {

    #navigation .navbar-nav a {
        font-size: 20px;

    }

    .slick-list {

        margin-top: 80%;

    }

    #casesVideos .green {
        position: absolute;

        background-color: #99cc33;

        height: 900px;

        width: 800px;

        left: 35%;

        top: 31%;
    }
}

@media (max-width: 992px) {

    .slick-list {

        margin-top: 60%;

    }

    #casesVideos .green {
        position: absolute;

        background-color: #99cc33;

        height: 600px;

        width: 800px;

        left: 35%;

        top: 31%;
    }

}

@media (max-width: 768px) {
    .slick-list {

        margin-top: 70%;

    }
}

@media (max-width: 480px) {
    .slick-list {

        margin-top: 95%;

    }

    #casesVideos .casesGeneral {
        top: 34%;
        left: 7%;
    }

    #casesVideos .green {
        position: absolute;

        background-color: #99cc33;

        height: 400px;

        width: 612px;

        left: 35%;

        top: 31%;
    }
}






